body {
  background: #b6c5e3;
  font-family: 'Roboto', sans-serif;
}

#calculator {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin-left: 30px;
}

#display {
  height: 75px;
  background: #1f253e;
  color: #fff;
}

#inputTextboxScreen {
  background: #1f253e;
  width: 300px;
  border: none;
  border-color: transparent;
  text-align: right;
  font-family: 'Graduate', cursive;
  font-size: 2em;
  padding-left: 0.50em;
  padding-right: 0.50em;
}

#inTxtboxScrOper {
  background: #1f253e;
  width: 300px;
  border: none;
  border-color: transparent;
  text-align: right;
  font-family: 'Graduate', cursive;
  font-size: 1.5em;
  padding-left: 0.75em;
  padding-right: 0.75em;
}

#name {
  font-family: 'Graduate', cursive;
  font-size: 2em;
  text-align: center;
}

#created {
  font-size: 0.70em;
  text-align: center;
}

#title{
  background: #0e111c;
  font-size: 1.3em;
  color: #fff;
  text-align: center;
}

#title p {
  margin: 0 auto;
  padding: 20px;
}

#deleteAll:hover{
  background: #e34444;
}

#total:hover{
  background: #00aed3;
}

.container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  justify-content: center;
}

.row {
  box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.8), 0 25px 55px 0 rgba(0, 0, 0, 0.21);
  width: 300px;
}

.row button {
  width: 25%;
}

.three button {
  width: 50%;
}

button {
  font-size: 2em;
  background: #0e111c;
  color: #fff;
  border: none;
  margin-left: 0px;
  margin-right: 0px;
  height: 2em;
  float: left;
}

button:hover {
  background: #141827;
  color: #fff;
}

button:focus { outline:0 };